In [23]:
import requests
import urllib.request
import time
from bs4 import BeautifulSoup

In [27]:
url = 'https://pubchem.ncbi.nlm.nih.gov/compound/50942'

page = urllib.request.urlopen(url)

In [28]:
soup = BeautifulSoup(page)

In [43]:
x = soup.find_all("js-rendered-content")
x

[]

In [44]:

soup.findAll('td')[0]
link = one_a_tag['href']

IndexError: list index out of range

In [45]:
test = soup.findAll('td')[279]
test.text

IndexError: list index out of range

In [38]:
import pandas as pd

new = pd.DataFrame()
dates = []
prices = []

In [39]:
for i in range(6,280):
    tag = soup.findAll('td')[i]
    if i%2 == 0:
        dates.append(tag.text)
    else:
        prices.append(tag.text)

In [40]:
new['date'] = dates
new['price'] = prices

In [41]:
new

            date    price
0    11 Jul 2019  1407.83
1    10 Jul 2019   1418.7
2    09 Jul 2019  1397.26
3    08 Jul 2019  1395.34
4    05 Jul 2019  1398.95
5    04 Jul 2019  1415.07
6    03 Jul 2019  1418.46
7    02 Jul 2019  1418.44
8    01 Jul 2019  1384.02
9    28 Jun 2019  1409.25
10   27 Jun 2019  1409.64
11   26 Jun 2019  1408.81
12   25 Jun 2019  1423.19
13   24 Jun 2019  1419.48
14   21 Jun 2019  1399.21
15   20 Jun 2019  1388.25
16   19 Jun 2019  1360.11
17   18 Jun 2019  1346.26
18   17 Jun 2019  1339.39
19   14 Jun 2019  1341.58
20   13 Jun 2019  1341.97
21   12 Jun 2019  1333.29
22   11 Jun 2019  1326.19
23   10 Jun 2019  1327.79
24   07 Jun 2019  1340.34
25   06 Jun 2019  1335.17
26   05 Jun 2019  1330.06
27   04 Jun 2019  1325.25
28   03 Jun 2019  1325.11
29   31 May 2019   1305.2
..           ...      ...
107  12 Feb 2019  1310.58
108  11 Feb 2019  1307.85
109  08 Feb 2019  1314.25
110  07 Feb 2019  1309.85
111  06 Feb 2019  1306.27
112  05 Feb 2019  1314.82
113  04 Feb 2019   1311.9
114  01 Feb 2019  1317.37
115  31 Jan 2019  1321.02
116  30 Jan 2019  1319.14
117  29 Jan 2019  1311.44
118  28 Jan 2019  1303.07
119  25 Jan 2019  1303.04
120  24 Jan 2019  1280.96
121  23 Jan 2019   1282.5
122  22 Jan 2019  1284.93
123  21 Jan 2019  1280.05
124  18 Jan 2019  1281.47
125  17 Jan 2019  1291.73
126  16 Jan 2019  1293.43
127  15 Jan 2019  1289.23
128  14 Jan 2019  1291.44
129  11 Jan 2019  1287.28
130  10 Jan 2019  1286.39
131  09 Jan 2019  1293.25
132  08 Jan 2019  1284.95
133  07 Jan 2019     1289
134  04 Jan 2019  1284.79
135  03 Jan 2019  1293.97
136  02 Jan 2019  1284.32

[137 rows x 2 columns]

In [42]:
new.to_csv("golddaily.csv")